@import url("https://fonts.googleapis.com/css?family=Rubik:400,700&display=swap");

/* *,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
} */

html {
  font-size: 48.5%;
}

/* body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  padding: 3rem;
  box-sizing: border-box;
} */

.grids {
  max-width: 136rem;
  padding: 0px 4px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-column-gap: 3rem;
  grid-row-gap: 3rem; */
}

.card-one {
  grid-column: 1/4;
}

.card-two {
  grid-column: 1/4;
}

.card-three {
  grid-column: 1/4;
}

.card-four {
  grid-column: 1/4;
}

.card-five {
  grid-column: 1/4;
}

.card-six {
  grid-column: 1/4;
}

.card-seven {
  grid-column: 1/4;
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 20rem;
  width: 100%;
  transition: all ease-in-out 400ms;
  cursor: pointer;
  background-color: black;
}

.card:hover {
  transform: scale(1.05);
}

.card:active {
  transform: translateY(-1px);
}

.card__side {
  transition: all 0.8s ease;
  color: black;

  position: absolute;
  top: 0;
  left: 0;
  height: 20rem;
  width: 100%;
  backface-visibility: hidden;
}

.card__side--front {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card__side--back {
  transform: rotateY(180deg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.showGreen {
  transform: rotateY(-180deg);
}

.showRed {
  transform: rotateY(0);
}

.hide {
  visibility: hidden;
  opacity: 0;
}

.show {
  visibility: visible;
  opacity: 1;
}

#front-1 {
  background-image: url("https://i.postimg.cc/DybskZcV/pic14-copy.jpg");
}

#front-2 {
  background-image: url("https://i.postimg.cc/SK39Ngdb/pic2.jpg");
}

#front-3 {
  background-image: url("https://i.postimg.cc/Sxzk7PNt/img.jpg");
}

#front-4 {
  background-image: url("https://i.postimg.cc/yxvVD9vF/pic9.jpg");
}

#front-5 {
  background-image: url("https://i.postimg.cc/15JvBZMm/pic11.jpg");
}

#front-6 {
  background-image: url("https://i.postimg.cc/g2fGLGqB/pic8.jpg");
}

#front-7 {
  background-image: url("https://i.postimg.cc/WzmdzDYt/pic15-copy.jpg");
}

/* Back */
#back-1 {
  background-image: url("https://i.postimg.cc/KjbqYPrQ/pic10.jpg");
}

#back-2 {
  background-image: url("https://i.postimg.cc/Dfgfpkn8/pic4.jpg");
}

#back-3 {
  background-image: url("https://i.postimg.cc/yNSn73Kx/pic14.jpg");
}

#back-4 {
  background-image: url("https://i.postimg.cc/yxvVD9vF/pic9.jpg");
}

#back-5 {
  background-image: url("https://i.postimg.cc/9McDk2Df/immg.jpg");
}

#back-6 {
  background-image: url("https://i.postimg.cc/xTpfYvkQ/pic6.jpg");
}

#back-7 {
  background-image: url("https://i.postimg.cc/8P6BwRcr/group-photo.jpg");
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 62.5%;
  }

  .grids {
    max-width: 136rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card-one {
    grid-column: 1/3;
  }

  .card-two {
    grid-column: 3/4;
  }

  .card-three {
    grid-column: 1/2;
  }

  .card-four {
    grid-column: 2/2;
  }

  .card-five {
    grid-column: 3/4;
  }

  .card-six {
    grid-column: 1/2;
  }

  .card-seven {
    grid-column: 2/4;
  }
}
