body {
  background-color: rgb(255, 255, 255);
}
#mmmut-tag{
  font-size: 1.5rem;
  font-weight: bolder;
  margin-top: 10px;
}
.navbar-brand{
  animation: animateLogo 3s forwards infinite;
  -webkit-animation: animateLogo 5s alternate infinite ease-in-out;
}
.nav-item {
  padding: 0 15px;
  font-size: 15px;
  font-weight: bold;
}
.dropdown-menu {
  font-size: 20px;
  background-color: rgb(209, 203, 203);
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.navbar {
  margin: 0 auto;
  padding: 16px;
}
.nav-item:hover{
  border-bottom: 2px solid black;
}
section {
  text-align: center;
  height: 100vh;
}
.events{
  background-color: bisque;
}

.btn-to-top{
  text-align: center;
  position: fixed;
  right: 10px;
  bottom: 50px;
  height: 50px;
  width: 48px;
  background-color: crimson;
  box-shadow: 0px 0px 10px rgb(0, 0,0.25);
  border:none ;
  cursor: pointer;
}

@keyframes animateLogo {
  to{
    transform: rotate(0deg) scale(.9);
   
}
from{
      transform: rotate(360deg)  scale(1.1);
     
}
}
*{
  scroll-behavior: smooth;
}



/* ------------------- */
/* for events section  */
/* ------------------- */
.event-container{
  margin-top: 6%;
  margin-left: 6%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
.subbox {
  overflow: hidden;
  background-color: rgb(247, 225, 167);
  box-shadow: 0 20px 20px -5px rgb(199, 82, 82);
  margin: 20px 10px;
  height: 20rem ;
  width: 20rem ;
  padding: 10px;
}
.subbox h2{
  font-size: medium;
}
.subbox a{
  cursor: pointer;
  color: rgb(0, 0, 0);
}
.subbox p{
  font-size: 150%;
  color: rgb(153, 135, 135);
}
.subbox:hover{
  box-shadow: 0 15px 20px -5px rgb(214, 117, 117);
  cursor: pointer;
}
#item1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#item2 {
  margin: 0rem 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#tohide {
  display: none;
}
@media screen and (max-width: 1100px) {
  .subbox h2 {
    font-size: medium;
  }
  .subbox {
    height: 18rem;
    width: 18rem;
    margin: 20px 8px;
  }
  .event-container{
    margin-top: 100px;
  }
}
@media screen and (max-width: 900px) {
  .subbox h2 {
    font-size: small;
  }
  .subbox {
    height: 16rem;
    width: 16rem;
  }
  .event-container{
    margin-top: 120px;
  }
}
@media screen and (max-width: 750px) {
  .event-container{
    margin:0px;
    margin-top: 40px;
  }
  .subbox{
    box-shadow: 0 20px 20px -10px rgb(199, 82, 82);
  }
  .event-container{
    margin-top: 140px;
  }
}
@media screen and (max-width: 680px) {
  .subbox h2 {
    font-size: 150%;
  }
  .subbox {
    margin: 2px 10px;
    width: 99%;
    height: 70px;
    box-shadow: 0px 4px -2px -4px rgb(141, 104, 104);
  }
  #item1,#item2 {
    margin: 2px 120px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  #tohide {
    display: grid;
  }
  .event-container{
    margin-top: 40px;
  }
 
}
@media screen and (max-width: 480px) {
  .subbox h2 {
    font-size: 150%;
  }
  .subbox {
    margin: 2px 10px;
    width: 100%;
    height: 70px;
    box-shadow: 0px 3px -1px -3px rgb(141, 104, 104);
  }
  #item1,#item2 {
    margin: 2px 80px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  #tohide {
    display: grid;
  }
  
}
@media screen and (max-width: 400px) {
  #item1,#item2 {
    margin: 2px 40px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
/* ------------------- */
/* for events section ends */
/* ------------------- */
@media(max-width:768px){
.events{

  margin-top:12.5rem;

  margin-top:200px;

}
.about{
  margin-top:600px;
}
}



<!-- Notice Board -->
* {
  margin: 0;
  padding: 0px;
}

body {
  background-color: white;
}
.content {
  width: 25%;
  box-shadow: 1px 1px 10px 2px rgba(17, 28, 72, 0.76);
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
  background-color: white;
}
.header {
  background: #000080;
  color: white;
  padding: 15px 0px;
  font-size: 1rem;
}

.movingbody {
  padding: 4px;
  height: 300px;
}
.m-par {
  text-align: center;
  padding: 6px;
  border-bottom: 1px solid #afafaf;
  font-size:15px;
}

@media (max-width: 767px) {
  .content {
    width: 90%;
    margin: 5%;
    box-sizing: border-box;
    float: none;
  }
}
.about{
  height:401px;
  width:1349px;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#logo1 {
    height: 80.156px;
    width: 80px;
    margin-left: 50px;
    margin-top: 20px;
}

#logo2 {
    height: 80.156px;
    width: 80px;
    margin-right: 50px;
    margin-top: 20px;
}

#footer {
    background: #101522;
    padding: 0 0 25px 0;
    color: #eee;
    font-size: 14px;
}

.copyright {
    text-align: center;
}

.credits {
    text-align: center;
}

#footer .footer-top .social-links a {
    font-size: 20px;
    display: inline-block;
    background: #222636;
    color: #eee;
    padding-top: 7px;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 36px;
    transition: 0.3s;
    line-height: 1;
}

#footer .footer-top .social-links a:hover {
    background: #f82249;
    color: #fff;
}

@media (min-width:880px) {
    .nss {
        margin-left: 50px;
    }
    .right {
        text-align: right;
        padding-right: 50px;
    }
    .left {
        text-align: left;
        padding-left: 5px;
    }
    .underline-small {
        text-decoration: underline 2px solid #f82249;
    }
    .grid-container {
        text-align: center;
        display: grid;
        grid-template-columns: auto auto;
    }
    .grid-container>.grid-item>a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.404);
    }
    .grid-container>.grid-item>a:hover {
        color: #000000;
    }
}

@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

@media (max-width: 880px) {
    .grid-container .left,
    .grid-container .right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .nss {
        text-align: center;
    }
}

