body {
  background-color: rgb(255, 255, 255);
}
#mmmut-tag{
  font-size: 1.5rem;
  font-weight: bolder;
  margin-top: 10px;
}
.navbar-brand{
  animation: animateLogo 3s forwards infinite;
  -webkit-animation: animateLogo 5s alternate infinite ease-in-out;
}
.nav-item {
  padding: 0 15px;
  font-size: 15px;
  font-weight: bold;
}
.dropdown-menu {
  font-size: 20px;
  background-color: rgb(209, 203, 203);
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.navbar {
  margin: 0 auto;
  padding: 16px;
}
.nav-item:hover{
  border-bottom: 2px solid black;
}
section {
  text-align: center;
  height: 100vh;
}
.events{
  background-color: bisque;
}

.btn-to-top{
  text-align: center;
  position: fixed;
  right: 10px;
  bottom: 50px;
  height: 50px;
  width: 48px;
  background-color: crimson;
  box-shadow: 0px 0px 10px rgb(0, 0,0.25);
  border:none ;
  cursor: pointer;
}

@keyframes animateLogo {
  to{
    transform: rotate(0deg) scale(.9);
   
}
from{
      transform: rotate(360deg)  scale(1.1);
     
}
}
*{
  scroll-behavior: smooth;
}

@media(max-width:768px){
.events{
  margin-top:12.5rem;
}
.about{
  margin-top:600px;
}
}


<!-- Notice Board -->
* {
  margin: 0;
  padding: 0px;
}

body {
  background-color: white;
}
.content {
  width: 25%;
  box-shadow: 1px 1px 10px 2px rgba(17, 28, 72, 0.76);
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
  background-color: white;
}
.header {
  background: #000080;
  color: white;
  padding: 15px 0px;
  font-size: 1rem;
}

.movingbody {
  padding: 4px;
  height: 300px;
}
.m-par {
  text-align: center;
  padding: 6px;
  border-bottom: 1px solid #afafaf;
  font-size:15px;
}

@media (max-width: 767px) {
  .content {
    width: 90%;
    margin: 5%;
    box-sizing: border-box;
    float: none;
  }
}
.about{
  height:401px;
  width:1349px;
}