@import url('https://fonts.googleapis.com/css2?family=Poppins');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.team-section
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color:black;
    min-height: 100vh; 
}

.team-container
{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}
.team-container .team-card
{
    position: relative;
    width: 300px;
    height: 400px;
    background: rgba(255, 255, 255, 0.05);
    margin: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}
.team-container .team-card .team-content
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
}
.team-container .team-card:hover .team-content
{
    opacity: 1;
    transform: translateY(-20px);
}
.team-container .team-card .team-content .imgBx
{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, 0.25);
}
.team-container .team-card .team-content .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    object-fit: cover;
}
.team-container .team-card .team-content .contentBx h3
{
    color: #fff;
    text-transform: uppercase;
    Letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
}
.team-container .team-card .team-content .contentBx h3 span
{
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}
.team-container .team-card .sci
{
    position: absolute;
    bottom: 50px;
    display: flex;
}
.team-container .team-card .sci li
{
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
    transition-delay: calc(0.1s * var(--i));
}
.team-container .team-card:hover .sci li
{
    transform: translateY(0px);
    opacity: 1;
}
.team-container .team-card .sci li a
{
    color: #fff;
    font-size:24px;
}

.team-section2 h2
{
    background-color:black;
    min-height: 5vh;
    font-size:40px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #CFC547;
    text-align: center;
    letter-spacing: 4px;
    text-shadow: 16px 22px 11px rgba(168,158,32,0.8);
}
